h1, h2 {
    font-family: 'Audiowide', sans-serif;
}
.canvas-container {
    width: 100%;
    text-align: center;
}

#controls {
    position: relative;
    width: 240px;
    height: 240px;
    margin: 0 auto;
}

#scores {
    width: 50%;
    margin: 0 auto;
}

#scores h2 {
    text-align: center;
}

#game-over {
    width: 180px;
    height: 180px;
    position: absolute;
    top: 40px;
    background: rgba(255,255,255,0.8);
    left: 50%;
    margin-left: -90px;
    display: none;
}
#game-over h3 {
    font-family: 'Audiowide', sans-serif;
    margin: 10px 0 5px;
}
#game-over p {
    font-size: 80%;
    margin: 8px 10px;
}

.control {
    width: 80px;
    height: 80px;
    border: none;
    outline: none;
    text-indent: -9999px;
    position: absolute;
}

#up {
    background: url("images/up.png");
    top: 0px;
    left: 80px;
}

#down {
    background: url("images/down.png");
    left: 80px;
    bottom: 0;
}

#left {
    background: url("images/left.png");
    top: 80px;
    left: 0px;
}

#right {
    background: url("images/right.png");
    top: 80px;
    right: 0px;
}